body {
    display: none;
    margin: 0;
}

body.appear {
    display: block;
}

header .header,
footer .footer {
    visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
    visibility: visible;
}

/* The following will fix Litehouse FOUCE,
   but it also causes our Google Litehouse scores to be under 90.

*:not(:defined),
*:not(:defined) * {
    opacity: 0;
}

 */
