body {
    display: none;
    margin: 0;
}

body.appear {
    display: block;
}

header .header,
footer .footer {
    visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
    visibility: visible;
}

/* The following will fix Litehouse FOUCE,
   but it also causes our Google Litehouse scores to be under 90.

*:not(:defined),
*:not(:defined) * {
    opacity: 0;
}

 */

:root {
    --lh-font-family-serif: "BlueRidge", Georgia, "Times New Roman", Times, serif;
    --lh-font-family-sans-serif: "BlueRidgeSans", Verdana, Helvetica, Arial, sans-serif;
}

:root {
    --lh-spacing-row-gap-default: 1.5rem;
    --lh-spacing-column-gap-default: 1.5rem;
}

:root {
    --lh-themes-dark-primary-dark: #17759f;
}


:root {
    --lh-text-line-height-lg: 1.25em;
    --lh-text-font-size-lg: 1.125rem;
}
