body {
    display: none;
    margin: 0;
}

body.appear {
    display: block;
}

header .header,
footer .footer {
    visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
    visibility: visible;
}

/* The following will fix Litehouse FOUCE,
   but it also causes our Google Litehouse scores to be under 90.

*:not(:defined),
*:not(:defined) * {
    opacity: 0;
}

 */

:root {
    --lh-color-neutral-50: #f9fafa;
    --lh-color-neutral-100: #f3f4f4;
    --lh-color-neutral-200: #d1d3d4;
    --lh-color-neutral-300: #bfc3c4;
    --lh-color-neutral-400: #a2a7a9;
    --lh-color-neutral-500: #919799;
    --lh-color-neutral-600: #676d70;
    --lh-color-neutral-700: #45494b;
    --lh-color-neutral-800: #222425;
    --lh-color-neutral-900: #111313;
    --lh-color-neutral-white: #ffffff;
    --lh-color-neutral-black: #000000;
    --lh-color-primary-50: #ebf9ff;
    --lh-color-primary-100: #d7f3ff;
    --lh-color-primary-200: #9be1ff;
    --lh-color-primary-300: #5ecfff;
    --lh-color-primary-400: #0eb8ff;
    --lh-color-primary-500: #00aeef;
    --lh-color-primary-600: #00a1e5;
    --lh-color-primary-700: #0085bc;
    --lh-color-primary-800: #006894;
    --lh-color-primary-900: #004c6c;
    --lh-color-secondary-50: #def3f3;
    --lh-color-secondary-100: #ace1df;
    --lh-color-secondary-200: #71cecb;
    --lh-color-secondary-300: #29bab5;
    --lh-color-secondary-400: #00aaa3;
    --lh-color-secondary-500: #009a91;
    --lh-color-secondary-600: #008d83;
    --lh-color-secondary-700: #007d72;
    --lh-color-secondary-800: #006d63;
    --lh-color-secondary-900: #005045;
    --lh-color-success-50: #e6f6ed;
    --lh-color-success-100: #c3e9d4;
    --lh-color-success-200: #9cdbb8;
    --lh-color-success-300: #71ce9c;
    --lh-color-success-400: #4ec387;
    --lh-color-success-500: #1db872;
    --lh-color-success-600: #14a967;
    --lh-color-success-700: #07965a;
    --lh-color-success-800: #00854e;
    --lh-color-success-900: #006538;
    --lh-color-warning-50: #fefce5;
    --lh-color-warning-100: #fef8bf;
    --lh-color-warning-200: #fcf395;
    --lh-color-warning-300: #fbee69;
    --lh-color-warning-400: #f9e944;
    --lh-color-warning-500: #f9e719;
    --lh-color-warning-600: #f8d311;
    --lh-color-warning-700: #f8bb03;
    --lh-color-warning-800: #f7a200;
    --lh-color-warning-900: #f57700;
    --lh-color-error-50: #faeaed;
    --lh-color-error-100: #f4cbd1;
    --lh-color-error-200: #de979a;
    --lh-color-error-300: #ce7174;
    --lh-color-error-400: #d65355;
    --lh-color-error-500: #db413d;
    --lh-color-error-600: #cc393b;
    --lh-color-error-700: #bb3034;
    --lh-color-error-800: #ae2a2e;
    --lh-color-error-900: #a01f22;
    --lh-color-decorative-umber: #a45e4c;
    --lh-color-decorative-brown: #be9769;
    --lh-color-decorative-light-brown: #d6ac75;
    --lh-color-decorative-tan: #e4c8a4;
    --lh-color-decorative-bright-orange: #ff7f50;
    --lh-color-decorative-orange: #e18c59;
    --lh-color-decorative-light-orange: #ffc28c;
    --lh-color-decorative-yellow: #ffde47;
    --lh-color-decorative-red: #ba2b2b;
    --lh-color-decorative-warm-gray: #cac0bd;
    --lh-color-decorative-taupe: #a89f9a;
    --lh-color-decorative-dolphin: #92989f;
    --lh-color-decorative-brown-gray: #6e6c6c;
    --lh-color-decorative-space-gray: #4a4c50;
    --lh-color-decorative-slate-gray: #484b4f;
    --lh-color-decorative-dark-purple: #6d0c6f;
    --lh-color-decorative-purple: #bb56bd;
    --lh-color-decorative-dark-navy: #00415c;
    --lh-color-decorative-navy: #004a6e;
    --lh-color-decorative-blue: #008bce;
    --lh-color-decorative-bright-blue: #00b0f1;
    --lh-color-decorative-sky-blue: #c6e9fc;
    --lh-color-decorative-ice-blue: #cbfaff;
    --lh-color-decorative-teal: #00809e;
    --lh-color-decorative-neon-pink: #fe217e;
    --lh-color-gradient-primary-light: linear-gradient(196.71deg, #ffffff 8.17%, #ebf9ff 50.59%);
    --lh-color-gradient-primary-light-bottom: linear-gradient(180deg, #ebf9ff 0%, #ffffff 100%);
    --lh-color-gradient-secondary-light: linear-gradient(196.71deg, #ffffff 8.17%, #def3f3 50.59%);
    --lh-color-gradient-primary-dark: linear-gradient(65.66deg, #004c6c 7.66%, #00aeef 80.4%);
    --lh-color-gradient-secondary-dark: linear-gradient(65.66deg, #006d63 7.66%, #009a91 80.4%);
    --lh-color-gradient-primary-bright: linear-gradient(235.94deg, #00aeef 49.8%, #d7f3ff 96.01%);
    --lh-color-gradient-secondary-bright: linear-gradient(235.94deg, #29bab5 49.8%, #ace1df 96.01%);
    --lh-color-gradient-multi-bright: linear-gradient(230.24deg, #0085bc 4.63%, #00aeef 44.78%, #0085bc 86.21%);
    --lh-color-brand-light-aster: #e1bae0;
    --lh-color-brand-light-clay: #e2b29d;
    --lh-color-brand-light-pine: #a7cab4;
    --lh-color-brand-extra-light-sky: #d7f0f9;
    --lh-color-brand-dark-aster: #542753;
    --lh-color-brand-dark-clay: #933810;
    --lh-color-brand-dark-pine: #226139;
    --lh-color-brand-dark-sky: #17759f;
    --lh-color-brand-dark-sun: #9c6e21;
    --lh-color-brand-sea: #00465e;
    --lh-color-brand-dogwood: #f8f5f1
}

:root {
    --lh-animation-fast-ease-in: .3s ease-in 0;
    --lh-animation-fast-ease-out: .3s ease-out 0;
    --lh-font-weight-light: 300;
    --lh-font-weight-regular: 400;
    --lh-font-weight-medium: 500;
    --lh-font-weight-semibold: 600;
    --lh-font-weight-bold: 700;
    --lh-font-family-serif: "BlueRidge", Georgia, "Times New Roman", Times, serif;
    --lh-font-family-sans-serif: "BlueRidgeSans", Verdana, Helvetica, Arial, sans-serif;
    --lh-font-size-10: .625rem;
    --lh-font-size-12: .75rem;
    --lh-font-size-14: .875rem;
    --lh-font-size-16: 1rem;
    --lh-font-size-18: 1.125rem;
    --lh-font-size-20: 1.25rem;
    --lh-font-size-24: 1.5rem;
    --lh-font-size-28: 1.75rem;
    --lh-font-size-32: 2rem;
    --lh-font-size-36: 2.25rem;
    --lh-font-size-40: 2.5rem;
    --lh-font-size-44: 2.75rem;
    --lh-font-size-48: 3rem;
    --lh-font-size-64: 4rem;
    --lh-font-size-80: 5rem;
    --lh-font-size-84: 5.25rem;
    --lh-border-width-none: 0px;
    --lh-border-width-thin: 1px;
    --lh-border-width-thick: 2px;
    --lh-border-radius-xs: 5px;
    --lh-border-radius-sm: 10px;
    --lh-border-radius-md: 20px;
    --lh-border-radius-lg: 50px;
    --lh-border-radius-xl: 300px;
    --lh-radii-xxs: .125rem;
    --lh-radii-xs: .25rem;
    --lh-radii-sm: .5rem;
    --lh-radii-md: .75rem;
    --lh-radii-lg: 1.5rem;
    --lh-radii-xl: 3rem;
    --lh-line-height-1: 1em;
    --lh-line-height-1-125: 1.125em;
    --lh-line-height-1-25: 1.25em;
    --lh-line-height-1-333: 1.333em;
    --lh-line-height-1-375: 1.375em;
    --lh-line-height-1-425: 1.425em;
    --lh-line-height-1-5: 1.5em;
    --lh-letter-spacing-normal: 0em;
    --lh-letter-spacing-loose: .06em;
    --lh-align-left: left;
    --lh-align-center: center;
    --lh-align-right: right;
    --lh-align-justify: justify;
    --lh-width-920: 920px;
    --lh-width-1224: 1224px;
    --lh-width-1440: 1440px;
    --lh-spacing-0: 0rem;
    --lh-spacing-2: .125rem;
    --lh-spacing-4: .25rem;
    --lh-spacing-8: .5rem;
    --lh-spacing-12: .75rem;
    --lh-spacing-14: .875rem;
    --lh-spacing-16: 1rem;
    --lh-spacing-18: 1.125rem;
    --lh-spacing-20: 1.25rem;
    --lh-spacing-22: 1.375rem;
    --lh-spacing-24: 1.5rem;
    --lh-spacing-28: 1.75rem;
    --lh-spacing-32: 2rem;
    --lh-spacing-36: 2.25rem;
    --lh-spacing-40: 2.5rem;
    --lh-spacing-48: 3rem;
    --lh-spacing-56: 3.5rem;
    --lh-spacing-64: 4rem;
    --lh-spacing-72: 4.5rem;
    --lh-spacing-80: 5rem;
    --lh-spacing-88: 5.5rem;
    --lh-spacing-96: 6rem;
    --lh-spacing-base: .25rem;
    --lh-breakpoint-mobile-min: 0px;
    --lh-breakpoint-mobile-max: 767px;
    --lh-breakpoint-tablet-min: 768px;
    --lh-breakpoint-tablet-max: 1023px;
    --lh-breakpoint-desktop-min: 1024px;
    --lh-breakpoint-desktop-max: 1440px;
    --lh-shadow-xs: 0px 1px 2px 0px rgba(0, 76, 108, .16);
    --lh-shadow-sm: 0px 2px 4px 0px rgba(0, 76, 108, .16);
    --lh-shadow-focus-sm: 0px 0px 0px 2px rgba(155, 225, 255, 1);
    --lh-shadow-focus-md: 0px 0px 0px 4px rgba(155, 225, 255, 1);
    --lh-shadow-md: 0px 4px 8px 0px rgba(0, 76, 108, .16);
    --lh-shadow-lg: 0px 8px 16px 0px rgba(0, 76, 108, .08);
    --lh-shadow-xl: 0px 16px 32px 0px rgba(0, 76, 108, .08);
    --lh-shadow-xxl: 0px 24px 48px 0px rgba(0, 76, 108, .08);
    --lh-shadow-xxxl: 0px 32px 64px 0px rgba(0, 76, 108, .08)
}

:root {
    --lh-light-typography-text: #222425;
    --lh-light-typography-heading: #004c6c;
    --lh-light-typography-label: #676d70;
    --lh-light-typography-link: #006894;
    --lh-light-form-error-text: #cc393b;
    --lh-light-form-error-label: #cc393b;
    --lh-light-form-error-border: #cc393b;
    --lh-light-form-input-border-color: #676d70;
    --lh-light-form-input-border-color-disabled: #bfc3c4;
    --lh-light-form-input-label-disabled: #919799;
    --lh-light-form-input-background-disabled: #f9fafa;
    --lh-light-form-input-help-text: #676d70;
    --lh-light-form-input-help-text-disabled: #919799;
    --lh-light-form-input-placeholder: #919799;
    --lh-light-form-input-icon-color: #919799;
    --lh-light-form-input-color-scheme: normal;
    --lh-light-form-toggle-slider-background-on: #006894;
    --lh-light-form-toggle-slider-background-off: #d1d3d4;
    --lh-light-form-toggle-slider-border: #d1d3d4;
    --lh-light-form-toggle-button-background-on: #ffffff;
    --lh-light-form-toggle-button-background-off: #ffffff;
    --lh-light-form-button-filled-text: #ffffff;
    --lh-light-form-button-filled-hover: #004c6c;
    --lh-light-form-button-filled-text-disabled: #676d70;
    --lh-light-form-button-filled-background-disabled: #f3f4f4;
    --lh-light-form-button-border-color-disabled: #bfc3c4;
    --lh-light-form-button-label-disabled: #919799;
    --lh-light-form-button-background-disabled: #f3f4f4;
    --lh-light-form-button-outlined-box-shadow-hover: #004c6c;
    --lh-light-form-button-text-hover: #004c6c;
    --lh-light-form-button-text-disabled: #676d70;
    --lh-light-form-button-monochrome-color: #000000;
    --lh-light-form-button-monochrome-filled-color: #ffffff;
    --lh-light-form-select-text-color: #919799;
    --lh-light-color-text: #222425;
    --lh-light-color-heading: #004c6c;
    --lh-light-color-label: #676d70;
    --lh-light-color-link: #006894;
    --lh-light-color-focus: #0085bc;
    --lh-light-color-primary-500: #00aeef;
    --lh-light-color-primary-800: #006894;
    --lh-light-color-primary-900: #004c6c;
    --lh-light-color-neutral-200: #d1d3d4;
    --lh-light-color-neutral-500: #919799;
    --lh-light-color-neutral-600: #676d70;
    --lh-light-color-neutral-800: #222425;
    --lh-light-color-neutral-900: #111313;
    --lh-light-color-neutral-white: #ffffff;
    --lh-light-color-neutral-black: #000000;
    --lh-light-color-success-700: #07965a;
    --lh-light-color-error-600: #cc393b;
    --lh-light-color-warning-600: #f7a200;
    --lh-light-color-brand-dark-aster: #542753;
    --lh-light-tooltip-text-color: #ffffff;
    --lh-light-tooltip-background-color: #111313;
    --lh-light-tooltip-trigger-color: #0085bc;
    --lh-light-progress-tracker-active-color: #ffffff;
    --lh-light-loader-color: #00aeef;
    --lh-light-chip-outlined-primary-text: #0085bc;
    --lh-light-chip-outlined-primary-border: #0085bc;
    --lh-light-chip-outlined-neutral-text: #676d70;
    --lh-light-chip-outlined-neutral-border: #676d70;
    --lh-light-chip-outlined-error-text: #cc393b;
    --lh-light-chip-outlined-error-border: #cc393b;
    --lh-light-chip-outlined-success-text: #07965a;
    --lh-light-chip-outlined-success-border: #07965a;
    --lh-light-chip-outlined-warning-text: #676d70;
    --lh-light-chip-outlined-warning-border: #f57700;
    --lh-light-chip-filled-primary-text: #000000;
    --lh-light-chip-filled-primary-background: #5ecfff;
    --lh-light-chip-filled-neutral-text: #000000;
    --lh-light-chip-filled-neutral-background: #d1d3d4;
    --lh-light-chip-filled-error-text: #ffffff;
    --lh-light-chip-filled-error-background: #cc393b;
    --lh-light-chip-filled-success-text: #ffffff;
    --lh-light-chip-filled-success-background: #00854e;
    --lh-light-chip-filled-warning-text: #000000;
    --lh-light-chip-filled-warning-background: #f9e719;
    --lh-light-breadcrumb-current: #676d70;
    --lh-light-breadcrumb-link: #006894;
    --lh-light-breadcrumb-clicked: #004c6c;
    --lh-light-breadcrumb-caret: #676d70;
    --lh-light-pagination-caret-default-color: #006894;
    --lh-light-pagination-caret-hover-color: #004c6c;
    --lh-light-pagination-caret-disabled-color: #bfc3c4;
    --lh-light-pagination-page-default-color: #006894;
    --lh-light-pagination-page-disabled-color: #006894;
    --lh-light-pagination-page-selected-color: #ffffff;
    --lh-light-pagination-page-selected-background: #676d70;
    --lh-light-pagination-page-selected-hover-color: #ffffff;
    --lh-light-pagination-page-selected-hover-background: #004c6c;
    --lh-light-pagination-slash-default-color: #676d70;
    --lh-light-badge-background-color: #cc393b;
    --lh-light-avatar-background-color: #006894;
    --lh-light-avatar-color: #ffffff;
    --lh-light-tabs-text: #222425;
    --lh-light-tabs-text-hover: #006894;
    --lh-light-tabs-active-bar: #006894;
    --lh-light-tabs-active-bar-hover: #006894;
    --lh-light-tabs-separator: #d1d3d4;
    --lh-light-tabs-caret: #006894;
    --lh-light-tabs-caret-hover: #004c6c;
    --lh-light-tabs-caret-disabled: #676d70;
    --lh-light-accordion-text: #222425;
    --lh-light-accordion-separator: #bfc3c4;
    --lh-light-accordion-caret: #006894;
    --lh-light-icon-button-color: #000000;
    --lh-light-divider-color: #676d70;
    --lh-light-tile-color-background-theme-white: #ffffff
}

:root {
    --lh-dark-typography-text: #ffffff;
    --lh-dark-typography-heading: #ffffff;
    --lh-dark-typography-label: #ffffff;
    --lh-dark-typography-link: #ffffff;
    --lh-dark-form-error-text: #f4cbd1;
    --lh-dark-form-error-label: #f4cbd1;
    --lh-dark-form-error-border: #f4cbd1;
    --lh-dark-form-input-border-color: #ffffff;
    --lh-dark-form-input-border-color-disabled: #d1d3d4;
    --lh-dark-form-input-label-disabled: #d1d3d4;
    --lh-dark-form-input-background-disabled: #bfc3c4;
    --lh-dark-form-input-help-text: #f3f4f4;
    --lh-dark-form-input-help-text-disabled: #d1d3d4;
    --lh-dark-form-input-placeholder: #f3f4f4;
    --lh-dark-form-input-icon-color: #ffffff;
    --lh-dark-form-input-color-scheme: dark;
    --lh-dark-form-toggle-slider-background-on: #ffffff;
    --lh-dark-form-toggle-slider-background-off: #006894;
    --lh-dark-form-toggle-slider-border: #ffffff;
    --lh-dark-form-toggle-button-background-on: #006894;
    --lh-dark-form-toggle-button-background-off: #ffffff;
    --lh-dark-form-button-filled-text: #006894;
    --lh-dark-form-button-filled-hover: #d7f3ff;
    --lh-dark-form-button-filled-text-disabled: #45494b;
    --lh-dark-form-button-filled-background-disabled: #d1d3d4;
    --lh-dark-form-button-border-color-disabled: #d1d3d4;
    --lh-dark-form-button-label-disabled: #d1d3d4;
    --lh-dark-form-button-background-disabled: #bfc3c4;
    --lh-dark-form-button-outlined-box-shadow-hover: #d7f3ff;
    --lh-dark-form-button-text-hover: #d7f3ff;
    --lh-dark-form-button-text-disabled: #bfc3c4;
    --lh-dark-form-button-monochrome-color: #ffffff;
    --lh-dark-form-button-monochrome-filled-color: #000000;
    --lh-dark-form-select-text-color: #ffffff;
    --lh-dark-color-text: #ffffff;
    --lh-dark-color-heading: #ffffff;
    --lh-dark-color-label: #ffffff;
    --lh-dark-color-link: #9be1ff;
    --lh-dark-color-focus: #9be1ff;
    --lh-dark-color-primary-500: #5ecfff;
    --lh-dark-color-primary-800: #ffffff;
    --lh-dark-color-primary-900: #ffffff;
    --lh-dark-color-neutral-200: #d1d3d4;
    --lh-dark-color-neutral-500: #ffffff;
    --lh-dark-color-neutral-600: #ffffff;
    --lh-dark-color-neutral-800: #ffffff;
    --lh-dark-color-neutral-900: #f3f4f4;
    --lh-dark-color-neutral-white: #111313;
    --lh-dark-color-neutral-black: #ffffff;
    --lh-dark-color-success-700: #c3e9d4;
    --lh-dark-color-error-600: #f4cbd1;
    --lh-dark-color-warning-600: #fef8bf;
    --lh-dark-color-brand-dark-aster: #ffffff;
    --lh-dark-tooltip-text-color: #111313;
    --lh-dark-tooltip-background-color: #f3f4f4;
    --lh-dark-tooltip-trigger-color: #9be1ff;
    --lh-dark-progress-tracker-active-color: #006894;
    --lh-dark-loader-color: #ffffff;
    --lh-dark-chip-outlined-primary-text: #d7f3ff;
    --lh-dark-chip-outlined-primary-border: #d7f3ff;
    --lh-dark-chip-outlined-neutral-text: #ffffff;
    --lh-dark-chip-outlined-neutral-border: #ffffff;
    --lh-dark-chip-outlined-error-text: #f4cbd1;
    --lh-dark-chip-outlined-error-border: #f4cbd1;
    --lh-dark-chip-outlined-success-text: #c3e9d4;
    --lh-dark-chip-outlined-success-border: #c3e9d4;
    --lh-dark-chip-outlined-warning-text: #fef8bf;
    --lh-dark-chip-outlined-warning-border: #fef8bf;
    --lh-dark-chip-filled-primary-text: #000000;
    --lh-dark-chip-filled-primary-background: #5ecfff;
    --lh-dark-chip-filled-neutral-text: #000000;
    --lh-dark-chip-filled-neutral-background: #d1d3d4;
    --lh-dark-chip-filled-error-text: #ffffff;
    --lh-dark-chip-filled-error-background: #cc393b;
    --lh-dark-chip-filled-success-text: #ffffff;
    --lh-dark-chip-filled-success-background: #00854e;
    --lh-dark-chip-filled-warning-text: #000000;
    --lh-dark-chip-filled-warning-background: #f9e719;
    --lh-dark-breadcrumb-current: #d1d3d4;
    --lh-dark-breadcrumb-link: #ffffff;
    --lh-dark-breadcrumb-clicked: #f3f4f4;
    --lh-dark-breadcrumb-caret: #d1d3d4;
    --lh-dark-pagination-caret-default-color: #ffffff;
    --lh-dark-pagination-caret-hover-color: #d7f3ff;
    --lh-dark-pagination-caret-disabled-color: #bfc3c4;
    --lh-dark-pagination-page-default-color: #ffffff;
    --lh-dark-pagination-page-disabled-color: #ffffff;
    --lh-dark-pagination-page-selected-color: #006894;
    --lh-dark-pagination-page-selected-background: #d1d3d4;
    --lh-dark-pagination-page-selected-hover-color: #006894;
    --lh-dark-pagination-page-selected-hover-background: #d7f3ff;
    --lh-dark-pagination-slash-default-color: #ffffff;
    --lh-dark-badge-background-color: #f4cbd1;
    --lh-dark-avatar-background-color: #ffffff;
    --lh-dark-avatar-color: #006894;
    --lh-dark-tabs-text: #ffffff;
    --lh-dark-tabs-text-hover: #d7f3ff;
    --lh-dark-tabs-active-bar: #ffffff;
    --lh-dark-tabs-active-bar-hover: #d7f3ff;
    --lh-dark-tabs-separator: #d1d3d4;
    --lh-dark-tabs-caret: #ffffff;
    --lh-dark-tabs-caret-hover: #d7f3ff;
    --lh-dark-tabs-caret-disabled: #bfc3c4;
    --lh-dark-accordion-text: #ffffff;
    --lh-dark-accordion-separator: #bfc3c4;
    --lh-dark-accordion-caret: #ffffff;
    --lh-dark-icon-button-color: #ffffff;
    --lh-dark-divider-color: #ffffff;
    --lh-dark-tile-color-background-theme-white: rgba(255, 255, 255, 0)
}

:root {
    --lh-spacing-row-gap-tight: 1rem;
    --lh-spacing-row-gap-extra-tight: .5rem;
    --lh-spacing-row-gap-default: 1.5rem;
    --lh-spacing-row-gap-loose: 2rem;
    --lh-spacing-column-gap-extra-tight: .5rem;
    --lh-spacing-column-gap-tight: 1rem;
    --lh-spacing-column-gap-default: 1.5rem;
    --lh-spacing-column-gap-loose: 2rem;
    --lh-spacing-column-gap-extra-loose: 4rem;
    --lh-spacing-vertical-xl-desktop: 6rem;
    --lh-spacing-vertical-xl-tablet: 4.5rem;
    --lh-spacing-vertical-xl-mobile: 4rem;
    --lh-spacing-vertical-lg-desktop: 4.5rem;
    --lh-spacing-vertical-lg-tablet: 4rem;
    --lh-spacing-vertical-lg-mobile: 3rem;
    --lh-spacing-vertical-md-desktop: 4rem;
    --lh-spacing-vertical-md-tablet: 3rem;
    --lh-spacing-vertical-md-mobile: 2rem;
    --lh-spacing-vertical-sm-desktop: 2rem;
    --lh-spacing-vertical-sm-tablet: 1.5rem;
    --lh-spacing-vertical-sm-mobile: 1rem;
    --lh-spacing-vertical-xs-desktop: 1.5rem;
    --lh-spacing-vertical-xs-tablet: 1rem;
    --lh-spacing-vertical-xs-mobile: .5rem;
    --lh-spacing-vertical-xxs-desktop: 1rem;
    --lh-spacing-vertical-xxs-tablet: .5rem;
    --lh-spacing-vertical-xxs-mobile: .25rem
}

:root {
    --lh-themes-light-transparent: transparent;
    --lh-themes-light-primary-light-gradient: linear-gradient(196.71deg, #ffffff 8.17%, #ebf9ff 50.59%);
    --lh-themes-light-primary-light-gradient-bottom: linear-gradient(180deg, #ebf9ff 0%, #ffffff 100%);
    --lh-themes-light-secondary-light-gradient: linear-gradient(196.71deg, #ffffff 8.17%, #def3f3 50.59%);
    --lh-themes-light-white: #ffffff;
    --lh-themes-light-neutral-light: #f8f5f1;
    --lh-themes-light-primary-light: #d7f0f9;
    --lh-themes-light-secondary-light: #def3f3;
    --lh-themes-dark-primary-dark: #17759f;
    --lh-themes-dark-primary-extra-dark: #00465e;
    --lh-themes-dark-secondary-dark: #542753;
    --lh-themes-dark-brand-one-dark: #226139;
    --lh-themes-dark-brand-two-dark: #933810
}

:root {
    --lh-alert-text-info: #000000;
    --lh-alert-text-success: #ffffff;
    --lh-alert-text-warning: #000000;
    --lh-alert-text-error: #ffffff;
    --lh-alert-background-color-info: #5ecfff;
    --lh-alert-background-color-success: #00854e;
    --lh-alert-background-color-warning: #f9e719;
    --lh-alert-background-color-error: #cc393b;
    --lh-alert-border-radius: .5rem;
    --lh-alert-padding-top-desktop: 1.5rem;
    --lh-alert-padding-top-mobile: 1.5rem;
    --lh-alert-padding-bottom-desktop: 1.5rem;
    --lh-alert-padding-bottom-mobile: 1.5rem;
    --lh-alert-padding-left-desktop: 6rem;
    --lh-alert-padding-left-mobile: 1.5rem;
    --lh-alert-padding-right-desktop: 6rem;
    --lh-alert-padding-right-mobile: 1.5rem
}

:root {
    --lh-container-gutter-tight: 1rem;
    --lh-container-gutter-medium: 1.5rem;
    --lh-container-gutter-default: 2rem;
    --lh-container-gutter-loose: 4rem;
    --lh-container-width-xxl: 1440px;
    --lh-container-width-xl: 1260px;
    --lh-container-width-lg: 1080px;
    --lh-container-width-md: 900px;
    --lh-container-width-sm: 720px;
    --lh-container-width-xs: 540px;
    --lh-container-width-xxs: 360px;
    --lh-container-width-fluid: 100%;
    --lh-container-margin-xl: 6rem;
    --lh-container-margin-lg: 4.5rem;
    --lh-container-margin-md: 4rem;
    --lh-container-margin-sm: 2rem;
    --lh-container-margin-xs: 1.5rem;
    --lh-container-margin-xxs: 1rem;
    --lh-container-padding-xl: 6rem;
    --lh-container-padding-lg: 4.5rem;
    --lh-container-padding-md: 4rem;
    --lh-container-padding-sm: 2rem;
    --lh-container-padding-xs: 1.5rem;
    --lh-container-padding-xxs: 1rem
}

:root {
    --lh-grid-gutters-mobile: 1rem;
    --lh-grid-gutters-tablet: 1.5rem;
    --lh-grid-gutters-desktop: 2rem;
    --lh-grid-gutters-extra-tight-mobile: .5rem;
    --lh-grid-gutters-extra-tight-tablet: .5rem;
    --lh-grid-gutters-extra-tight-desktop: .5rem;
    --lh-grid-gutters-tight-mobile: .5rem;
    --lh-grid-gutters-tight-tablet: .5rem;
    --lh-grid-gutters-tight-desktop: 1rem;
    --lh-grid-gutters-medium-mobile: .5rem;
    --lh-grid-gutters-medium-tablet: 1rem;
    --lh-grid-gutters-medium-desktop: 1.5rem;
    --lh-grid-gutters-default-mobile: 1rem;
    --lh-grid-gutters-default-tablet: 1.5rem;
    --lh-grid-gutters-default-desktop: 2rem;
    --lh-grid-gutters-loose-mobile: 1.5rem;
    --lh-grid-gutters-loose-tablet: 2rem;
    --lh-grid-gutters-loose-desktop: 4rem
}

:root {
    --lh-form-group-padding-bottom: 1rem;
    --lh-form-checkbox-width: 1.125rem;
    --lh-form-checkbox-height: 1.125rem;
    --lh-form-input-box-shadow: 0px 0px 0px 2px rgba(155, 225, 255, 1);
    --lh-form-radio-width: 1.125rem;
    --lh-form-radio-height: 1.125rem;
    --lh-form-toggle-width: 2.25rem;
    --lh-form-toggle-height: 1.125rem;
    --lh-form-toggle-border-radius: .75rem;
    --lh-form-toggle-spacing: 2rem;
    --lh-form-toggle-button-size: .875rem;
    --lh-form-toggle-button-border-radius: 50%;
    --lh-form-control-max-width: 600px
}

:root {
    --lh-header-padding-top-mobile: 1rem;
    --lh-header-padding-top-tablet: 1rem;
    --lh-header-padding-top-desktop: 1.375rem;
    --lh-header-padding-bottom-mobile: 1rem;
    --lh-header-padding-bottom-tablet: 1rem;
    --lh-header-padding-bottom-desktop: 1.375rem;
    --lh-header-padding-left-mobile: 1.5rem;
    --lh-header-padding-left-tablet: 3rem;
    --lh-header-padding-left-desktop: 108px;
    --lh-header-padding-right-mobile: 1.5rem;
    --lh-header-padding-right-tablet: 3rem;
    --lh-header-padding-right-desktop: 108px;
    --lh-header-height-mobile: 4rem;
    --lh-header-height-tablet: 5rem;
    --lh-header-height-desktop: 6rem;
    --lh-header-shadow: 0px 2px 4px 0px rgba(0, 76, 108, .16);
    --lh-header-image-max-height-desktop: 2rem;
    --lh-header-image-max-height-mobile: 1.75rem
}


:root {
    --lh-display-font-face: "BlueRidge", Georgia, "Times New Roman", Times, serif;
    --lh-display-font-weight: 400;
    --lh-display-color: #004c6c;
    --lh-display-margin-top: 2rem;
    --lh-display-margin-bottom: 2rem;
    --lh-display-letter-spacing: 0em;
    --lh-display-transform: none;
    --lh-display-line-height-xxxl: 1em;
    --lh-display-line-height-xxl: 1.125em;
    --lh-display-line-height-xl: 1.125em;
    --lh-display-line-height-lg: 1.125em;
    --lh-display-line-height-md: 1.125em;
    --lh-display-line-height-sm: 1.125em;
    --lh-display-line-height-xs: 1.125em;
    --lh-display-line-height-xxs: 1.125em;
    --lh-display-line-height-xxxs: 1.125em;
    --lh-display-font-size-xxxl-desktop: 5rem;
    --lh-display-font-size-xxxl-mobile: 3rem;
    --lh-display-font-size-xxl-desktop: 4rem;
    --lh-display-font-size-xxl-mobile: 2.75rem;
    --lh-display-font-size-xl-desktop: 3rem;
    --lh-display-font-size-xl-mobile: 2.25rem;
    --lh-display-font-size-lg-desktop: 2.5rem;
    --lh-display-font-size-lg-mobile: 1.5rem;
    --lh-display-font-size-md-desktop: 2.25rem;
    --lh-display-font-size-md-mobile: 1.25rem;
    --lh-display-font-size-sm-desktop: 2rem;
    --lh-display-font-size-sm-mobile: 1.125rem;
    --lh-display-font-size-xs-desktop: 1.75rem;
    --lh-display-font-size-xs-mobile: 1.125rem;
    --lh-display-font-size-xxs-desktop: 1.5rem;
    --lh-display-font-size-xxs-mobile: 1.125rem;
    --lh-display-font-size-xxxs-desktop: 1.25rem;
    --lh-display-font-size-xxxs-mobile: 1.125rem;
    --lh-text-font-face: "BlueRidgeSans", Verdana, Helvetica, Arial, sans-serif;
    --lh-text-font-weight: 400;
    --lh-text-color: #222425;
    --lh-text-margin-top: 0rem;
    --lh-text-margin-bottom: 1rem;
    --lh-text-letter-spacing: 0em;
    --lh-text-transform: none;
    --lh-text-line-height-xl: 1.333em;
    --lh-text-line-height-lg: 1.25em;
    --lh-text-line-height-md: 1.333em;
    --lh-text-line-height-sm: 1.425em;
    --lh-text-line-height-xs: 1.333em;
    --lh-text-font-size-xl: 1.5rem;
    --lh-text-font-size-lg: 1.125rem;
    --lh-text-font-size-md: 1rem;
    --lh-text-font-size-sm: .875rem;
    --lh-text-font-size-xs: .75rem;
    --lh-label-font-face: "BlueRidgeSans", Verdana, Helvetica, Arial, sans-serif;
    --lh-label-font-weight: 700;
    --lh-label-color: #676d70;
    --lh-label-margin-top: 0rem;
    --lh-label-margin-bottom: 1rem;
    --lh-label-letter-spacing: .06em;
    --lh-label-transform: uppercase;
    --lh-label-line-height-lg: 1.375em;
    --lh-label-line-height-md: 1.425em;
    --lh-label-line-height-sm: 1.333em;
    --lh-label-font-size-lg: 1rem;
    --lh-label-font-size-md: .875rem;
    --lh-label-font-size-sm: .75rem;
    --lh-label-font-size-xs: .625rem
}

:host {
    all: initial
}

[hidden] {
    display: none
}

:root {
    --mode-typography-text: #222425;
    --mode-typography-heading: #004c6c;
    --mode-typography-label: #676d70;
    --mode-typography-link: #006894;
    --mode-color-text: #222425;
    --mode-color-heading: #004c6c;
    --mode-color-label: #676d70;
    --mode-color-link: #006894;
    --mode-color-focus: #0085bc;
    --mode-color-primary-500: #00aeef;
    --mode-color-primary-800: #006894;
    --mode-color-primary-900: #004c6c;
    --mode-color-neutral-200: #d1d3d4;
    --mode-color-neutral-500: #919799;
    --mode-color-neutral-600: #676d70;
    --mode-color-neutral-800: #222425;
    --mode-color-neutral-900: #111313;
    --mode-color-neutral-white: #ffffff;
    --mode-color-neutral-black: #000000;
    --mode-color-success-700: #07965a;
    --mode-color-error-600: #cc393b;
    --mode-color-warning-600: #f7a200;
    --mode-color-brand-dark-aster: #542753;
    --mode-background-color: var(--lh-color-neutral-white);
    --button-filled-background-color-mode: var(--lh-color-primary-800);
    --button-filled-text-color-mode: var(--lh-color-neutral-white);
    --button-filled-hover-color-mode: var(--lh-color-primary-900);
    --button-outlined-box-shadow-color-mode: var(--lh-color-primary-800);
    --button-outlined-hover-box-shadow-color-mode: var(--lh-color-primary-900);
    --button-text-color-mode: var(--lh-color-primary-800);
    --button-hover-text-color-mode: var(--lh-color-primary-900);
    --button-disabled-text-color-mode: var(--lh-color-neutral-600);
    --button-filled-disabled-text-color-mode: var(--lh-color-neutral-600);
    --button-filled-disabled-background-color-mode: var(--lh-color-neutral-100);
    --modal-backdrop-color: var(--lh-color-neutral-900);
    --icon-button-color-mode: var(--lh-color-neutral-black);
    --avatar-background-color: var(--lh-color-primary-500);
    --radio-checkbox-background-disabled: var(--lh-color-neutral-100);
    --radio-disabled-checked-box-shadow: inset 0px 0px 0px 3px var(--lh-color-neutral-100);
    --mode-progress-bar-color: var(--lh-light-color-brand-dark-aster, #ffffff)
}

.lh-mode--light {
    --mode-typography-text: #222425;
    --mode-typography-heading: #004c6c;
    --mode-typography-label: #676d70;
    --mode-typography-link: #006894;
    --mode-color-text: #222425;
    --mode-color-heading: #004c6c;
    --mode-color-label: #676d70;
    --mode-color-link: #006894;
    --mode-color-focus: #0085bc;
    --mode-color-primary-500: #00aeef;
    --mode-color-primary-800: #006894;
    --mode-color-primary-900: #004c6c;
    --mode-color-neutral-200: #d1d3d4;
    --mode-color-neutral-500: #919799;
    --mode-color-neutral-600: #676d70;
    --mode-color-neutral-800: #222425;
    --mode-color-neutral-900: #111313;
    --mode-color-neutral-white: #ffffff;
    --mode-color-neutral-black: #000000;
    --mode-color-success-700: #07965a;
    --mode-color-error-600: #cc393b;
    --mode-color-warning-600: #f7a200;
    --mode-color-brand-dark-aster: #542753;
}

.lh-mode--dark {
    --mode-typography-text: #ffffff;
    --mode-typography-heading: #ffffff;
    --mode-typography-label: #ffffff;
    --mode-typography-link: #ffffff;
    --mode-color-text: #ffffff;
    --mode-color-heading: #ffffff;
    --mode-color-label: #ffffff;
    --mode-color-link: #9be1ff;
    --mode-color-focus: #9be1ff;
    --mode-color-primary-500: #5ecfff;
    --mode-color-primary-800: #ffffff;
    --mode-color-primary-900: #ffffff;
    --mode-color-neutral-200: #d1d3d4;
    --mode-color-neutral-500: #ffffff;
    --mode-color-neutral-600: #ffffff;
    --mode-color-neutral-800: #ffffff;
    --mode-color-neutral-900: #f3f4f4;
    --mode-color-neutral-white: #111313;
    --mode-color-neutral-black: #ffffff;
    --mode-color-success-700: #c3e9d4;
    --mode-color-error-600: #f4cbd1;
    --mode-color-warning-600: #fef8bf;
    --mode-color-brand-dark-aster: #ffffff;
}

.lh-theme--primary-dark {
    --mode-background-color: var(--lh-themes-dark-primary-dark);
    --select-background-color: var(--lh-color-primary-800);
    --mode-typography-text: #ffffff;
    --mode-typography-heading: #ffffff;
    --mode-typography-label: #ffffff;
    --mode-typography-link: #ffffff;
    --mode-color-text: #ffffff;
    --mode-color-heading: #ffffff;
    --mode-color-label: #ffffff;
    --mode-color-link: #9be1ff;
    --mode-color-focus: #9be1ff;
    --mode-color-primary-500: #5ecfff;
    --mode-color-primary-800: #ffffff;
    --mode-color-primary-900: #ffffff;
    --mode-color-neutral-200: #d1d3d4;
    --mode-color-neutral-500: #ffffff;
    --mode-color-neutral-600: #ffffff;
    --mode-color-neutral-800: #ffffff;
    --mode-color-neutral-900: #f3f4f4;
    --mode-color-neutral-white: #111313;
    --mode-color-neutral-black: #ffffff;
    --mode-color-success-700: #c3e9d4;
    --mode-color-error-600: #f4cbd1;
    --mode-color-warning-600: #fef8bf;
    --mode-color-brand-dark-aster: #ffffff;
}

.visually-hidden {
    width: 1px!important;
    height: 1px!important;
    padding: 0!important;
    overflow: hidden!important;
    clip: rect(0,0,0,0)!important;
    white-space: nowrap!important;
    border: 0!important;
    margin: -1px!important;
    position: absolute!important
}

@scope (lh-typography,lh-alert,lh-avatar,lh-badge,lh-chip,lh-button,lh-input,lh-checkbox,lh-checkbox-group,lh-checkbox-card,lh-radio-group,lh-radio-card,lh-textarea,lh-header,lh-image,lh-modal,lh-select,lh-toggle,.lh-typography,.lh-alert,.lh-avatar,.lh-badge,.lh-chip,.lh-button,.lh-input,.lh-checkbox,.lh-checkbox-group,.lh-checkbox-card,.lh-radio-group,.lh-radio-card,.lh-textarea,.lh-header,.lh-image,.lh-modal,.lh-select,.lh-slideout,.lh-toggle) {
span {
    font-family: var(--lh-font-family-sans-serif);
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    background-color: inherit;
    line-height: var(--lh-line-height-1-375);
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    white-space: normal;
    word-spacing: normal;
    line-break: auto;
    hyphens: manual
}

    a: any-link:not([class^=lh-]) {
    color:var(--mode-typography-link);
    font-size: inherit!important;
    background-color: transparent;
    font-weight: inherit;
    text-decoration: underline
}

    li: not([class^=lh-]) {
    font-family:var(--lh-font-family-sans-serif);
    color: inherit;
    font-weight: inherit;
    background-color: inherit;
    line-height: var(--lh-line-height-1-375);
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    white-space: normal;
    word-spacing: normal;
    line-break: auto;
    hyphens: manual;
    font-size: inherit;
    text-align: left;
    margin-bottom: var(--lh-spacing-8)
}

strong {
    font-weight: 700
}
}

lh-typography[variant=rich-text] * ul,lh-typography[variant=rich-text] * ol {
    margin-block-start:var(--gap);margin-block-end: 0
}

:root {
    --lh-fluid-font-size-xxxs: clamp(1.13rem, .78vw + .75rem, 1.25rem);
    --lh-fluid-font-size-xxs: clamp(1.13rem, 2.33vw + .01rem, 1.5rem);
    --lh-fluid-font-size-xs: clamp(1.13rem, 3.89vw + -.74rem, 1.75rem);
    --lh-fluid-font-size-sm: clamp(1.13rem, 5.45vw + -1.49rem, 2rem);
    --lh-fluid-font-size-md: clamp(1.25rem, 6.23vw + -1.73rem, 2.25rem);
    --lh-fluid-font-size-lg: clamp(1.5rem, 6.23vw + -1.48rem, 2.5rem);
    --lh-fluid-font-size-xl: clamp(2.25rem, 4.67vw + .01rem, 3rem);
    --lh-fluid-font-size-xxl: clamp(2.75rem, 7.78vw + -.98rem, 4rem);
    --lh-fluid-font-size-xxxl: clamp(3rem, 12.45vw + -2.97rem, 5rem)
}
